python-dotenv
flask
supabase
anthropic
faiss-cpu
numpy
PyMuPDF
langchain
langchain-community
langchain_openai
lark
groq
google-cloud-storage
flask_cors
pinecone
openai
openai-whisper
langchain_experimental
yt-dlp
gunicorn
requests
google-genai
imageio-ffmpeg
pydub
pyaudioop
